{{ define "main" }}
<section id="index-image"> 
  <div class="bottom">
    <h1>Welcome to Peak Surgery</h1>
    <span>The unwritten secrets of General Surgery.</span>
  </div>
</section>
<section id="features">
  <div class="feature">
    <i class="fa-solid fa-hand-holding-medical"></i>
    <h2>The Secrets Revealed</h2>
    <span>The unwritten knowledge that has been passed down, normally not found elsewhere.</span>
  </div>
  <div class="feature">
    <i class="fa-solid fa-book-medical"></i>
    <h2>Handy and Concise</h2>
    <span>Designed to be the quick reference guide to get you through any tough situation.</span>
  </div>
  <div class="feature">
    <i class="fa-solid fa-user-nurse"></i>
    <h2>Written by PHOs</h2>
    <span>Crafted by Principal House Officers (Unaccredited Registrars) for just the right amount of knowledge required.</span>
  </div>
</section>
<section id="book">
  <img src="/book.jpg">
  <h2>Watch this Space! eBook and Hard Copy Coming Soon!</h2>
</section>
{{ end }}

